html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  min-width: 600px;
	font-family: calibri;
  border-top: none;
}

/* Header CSS */
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 100vw;
  z-index: 100;
  min-width: 600px;
	font-family: calibri;
}
header li {
  float: left;
}
header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.fa-bars:hover {
background-color: #111;
}
/* Change the link color to #111 (black) on hover */
header li a:hover {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}
.header-text {
  padding: 14px 16px;
  color: white;
  float: right;
}

/* This is a style css to the index.html in the root */

/* Stlying for the first cell(top left cell, add button) */
.header {
  height: 47.2px;
  margin: 0;
  padding: 0;
  background-color: rgb(9, 65, 114);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: rgb(246, 248, 250);
}

/* Styling for the main container that will hold all our cells */
body.main-view main .container {
  padding-left: 1vw;
  padding-right: 1vw;
  position: relative;
  z-index: initial;
  flex: 1;
  overflow-x: hidden;
}

/* Styling for the Section containers */
body.main-view main .section-container {
  text-align: left;
  height: auto;
  display: flex;
  justify-content: center;
}

/* Styling for bullet entries that appear in all cells */
body.main-view main .bullet {
  display: flex;
  align-items: center;
  height: 3em;
  font-size: 1.3em;
  background-color: rgba(167, 200, 220, 0.925);
  border-radius: 0.5em;
  margin: 0.3rem;
  text-align: left;
  padding-left: 0.5rem;
}

/* Styling for the buttons next to bullet (edit and detail) */
body.main-view main .bullet-button {
  border: none;
  margin: 0.5rem;
  line-height: 1rem;
  font-size: 1rem;
  border-radius: 0.5em;
  padding: 8px;
  background-color: rgb(204, 225, 243);
}

/* Stlying for the title of the categories in cell 5 */
body.main-view main .title {
  text-align: left;
  padding-left: 1rem;
  width: 90%;
}

/* Styling for bullet description */
body.main-view main .description {
  position: relative;
  width: 100%;
}

/* Styling for the box that contains journal entries in cell 3 (Graph) */
body.main-view main .graph-box {
  margin-top: 0.3em;
  padding: 0.5em;
  height: 15rem;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(40, 25, 3);
  border-radius: 1em;
}

/* Styling for the box that contains journal entries in the main cell, cell 4 (Focus) */
body.main-view main .journal-main-box {
  padding: 1.5vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  display: inline-block;
}

/* Styling for add bullet button in top left corner */
body.main-view main #add-bullet-button {
  display: flex;
  padding: 1px;
  justify-content: center;
  min-width: 222px;
}

body.main-view main .new-button {
  cursor: pointer;
  background-color: rgb(75, 164, 220);
}

/* Adding bit "+" symbol to add button */
body.main-view main .new-button:hover {
  background-color: rgb(35, 137, 201);
}

body.main-view main .new-button:active {
  background-color: rgb(32, 102, 145);
}

/* For Testing Purpose */
.des {
  overflow: expand;
  display: none;
  align-items: center;
  height: auto;
  background-color: rgba(167, 200, 220, 0.925);
  font-size: 1em;
  border-radius: 0.5em;
  margin: 0.5rem;
  text-align: left;
  margin-left: 2rem;
  padding: 0.5rem;
  padding-left: 1.2rem;
}

.plus-div {
  /* display:flex;
  align-items: center;
  text-align: left;
  left: -35%;
  top: 0%;
  position:relative;
  float:left; */
  width: 30px;
  display: flex;
  align-items: center;
}

.new-button > span > div {
  display: inline-block;
}

/* Stlying for category edit button */
.checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  padding: 15px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

/* Stlying for category edit button */
.checkbox:checked::after {
  content: "\2714";
  font-size: 50px;
  position: absolute;
  top: -20px;
  left: 5px;
  color: #0994ff;
}

.bullet.new-button {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow-x: auto;
  overflow-y: auto;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  background-color: transparent !important;
}

.bullet.new-button:hover {
  background-color: rgba(25, 25, 25, 0.379) !important;
}

.bullet.new-button:active {
  background-color: white !important;
}

/* Dank */
body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

#left_menu {
    box-sizing: border-box;
    width: 400px;
    height: 100vh;
    padding-top: 25px;
    padding-left: 35px;
    padding-right: 35px;
    position: fixed;
    left: 0;
    transition: left .25s cubic-bezier(.4,0,.2,1);
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fafafa;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    background-color: #333;
    display: flex;
    z-index: 100;
}

.category-header {
  padding: 5px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#category-show {
  color: rgb(192,192,192);
  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.category-open {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#category-toggle {
  margin-left: auto;
  -webkit-appearance: none;
  background-color: #fafafa;
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  margin-right: 5px;
}

#category-toggle:checked::after {
  content: "✔";
  font-size: 20px;
  position: absolute;
  top: -4px;
  left: 3px;
  color: black;
  animation: fade-up 0.8s ease;
}

#new-category {
  padding: 5px;
  color: white;
  cursor: pointer;
  background-color: transparent;
  border-radius: 100%;
}

#new-category:hover {
  background-color: rgba(25, 25, 25, 0.379) !important;
}

/*
.expandable {
  background: #fff;
  overflow: hidden;
  display: none;

  transition: all .5s ease-in-out;
  line-height: 0;
  padding: 0 1em;
  color: transparent;
}
 
.expandable:target {
  display: block;
  line-height: 1.5;
  padding-top: 1em;
  padding-bottom: 1em;
  color: black;
}
*/

