<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
    <link rel="stylesheet" type="text/css" href="./index.css">
</head>

<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/signup">Signup</a></li>
        <li><a class="active" href="/login">Login</a></li>
        <li><a href="/logout" id='logout-button'>Logout</a></li>
        <li><a href="/demo">Demo</a></li>
        <span class="header-text">Bullet Journal</spab>
      </ul>
    <div class='container'>
        <div class='section'>
            <form id='log-in' action="https://pageus.site/login" method="POST">
                <table border="0" cellpadding="10" cellspacing="1" width="500" align="center" class="tblLogin">
                    <tr class="tableheader">
                    <td align="center" colspan="2">Login</td>
                    </tr>
                    <tr>
                    <% for (let i=0; i<errors.length; i++) {%>
                        <td align="center" colspan="2"><%= errors[i] %></td>
                    <% } %>
                    </tr>
                    <tr class="tablerow">
                    <td>
                    <input type="text" name="username" placeholder="User Name" class="login-input"></td>
                    </tr>
                    <tr class="tablerow">
                    <td>
                    <input type="password" name="password" placeholder="Password" class="login-input"></td>
                    </tr>
                    <tr class="tableheader">
                    <td align="center" colspan="2"><input type="submit" name="submit" value="Submit" class="btnSubmit"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>

</html>
