* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
}

a {
  text-decoration: none;
}

body, html {
  height: 100%;
}

body {
	background: #dfebed;
}

.left-container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
}

.calendar {
  perspective: 1000;
	width: 100%;
	font-family: 'Roboto', sans-serif;
  font-size: 13px;
  display: flex;
  justify-content: center;
}

/* Front - Calendar */
.front {
	background: #2b4450;
	border-radius: 4px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
	transition: .9s;
	transform-style: preserve-3d;
	width: 80%;
	transform: rotateY(0deg);
	max-width: 800px;
}

.current-date {
	border-bottom: 1px solid rgba(73, 114, 133, .6);
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

.current-date h1 {
	color: #dfebed;
	font-size: 1.4em;
	font-weight: 300;
	display: flex;
	align-items: center;
}

.week-days {
	color: #dfebed;
	display: flex;
	justify-content: space-between;
	font-weight: 600;
	padding: 10px 15px;
}

.days {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.weeks {
	color: #fff;
	display: flex;
	flex-direction: column;
	padding: 0px 10px;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.weeks div {
	display: flex;
	font-size: 1.2em;
	font-weight: 300;
	justify-content: space-between;
	margin-bottom: 5px;
	width: 100%;
}

.last-month {
	opacity: .3;
}

.weeks span {
	padding: 10px;
}

.weeks .active {
	padding: 9px;
	border-radius: 15%;
}
/*
.weeks span.active {
	background: #f78536;
	border-radius: 50%;
}*/

.weeks span:not(.last-month):hover {
	cursor: pointer;
	font-weight: 600;
}

.event {
	position: relative;
}
/*
.event:after {
	content: '•';
	color: #f78536;
	font-size: 1.4em;
	position: absolute;
 	right: 15px;
 	bottom: -5px;
}

.event.active:after{
  content: '•';
	color: #000;
	font-size: 1.4em;
	position: absolute;
  right: 15px;
  bottom: -5px;
}
*/
.fa-angle-right:hover,
.fa-angle-left:hover {
	font-weight: bold;
	cursor: pointer;
}